.font-center{
    text-align: center;
}
.font-center span{
    display: block;
    padding: 5px 5px 0 5px;
    font-size: 16px;
}
.font-center span:hover{
    color: #62a8ea;
}
.font-center p{
    display: block;
    text-align: center;
    line-height: 1.2;
    font-size: 16px;
    color: #f96868 !important;
}